.join-game {
  justify-items: center;
}

.opponent-name {
  display: grid;
  grid-template-columns: 70% 30%;
  width: 80%;
  margin-top: 20%;
}

.opponent-name > button {
  grid-column: 2;
}

.opponent-name > div {
  grid-column: 1;
}
