.css-10d30g3-MuiPaper-root-MuiDialog-paper {
  background-color: rgb(255, 255, 255) !important;
  width: 400px;
  height: 150px;
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper > h2 {
  text-align: center;
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper > div {
  align-self: center;
  width: 70%;
}

#error-dialog-title {
  font-weight: 800;
}

#error-btn {
  margin-right: auto;
}
